


/* .app{
    padding: 10%;
} */

* {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    color:cornsilk;
    background-color: #17222d;
  }


div{
  padding: 0;
}

.row{
  margin: 0;
}

.row>*{
    margin:0;
    padding: 0 !important;
}

.container-fluid{
    padding: 0;
}

.app {
    margin: 0px auto;
    width: 100%;
    padding: 1.5em;
    background-color: #17222d;
  }

.side{
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.input-movie, .btn{
  border-radius: 50px;
}

.btn{
  width: 15%;
}

.add{
  border-radius: 20%;
  width: 2.5rem;
}

i{
  cursor: pointer;
}

.icon{
  color:darkturquoise;
  text-align: center;
  font-size: 1.3rem;
  align-self: center;
}

.regular-icon{
  /* color:firebrick; */
  text-align: center;
  font-size: 1.2rem;
}

.caution-icon{
  color:firebrick;
  text-align: center;
  align-self: center;
}

.saved-movie{
  margin-top: 5px;
  margin-bottom: 5px;
}

.movie-image{
  padding: 0 4% 0 0 !important;
}

.movie-small-image{
  padding: 0 4% 0 0 !important;
  width: 4.5em;
}

.searching{
  display: block;
}

/* .notificationbar{
  padding: 0.7rem 0;
} */

@media(min-width: 320px){
  .app{
    /* padding-top: 40% !important; */
    /* padding-bottom: 300px !important; */
  }
}

