


/* .app{
    padding: 10%;
} */

* {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    color:cornsilk;
    background-color: #17222d;
    position: relative;
    height: 100vh;
  }


div{
  padding: 0;
}

.row{
  margin: 0;
}

.row>*{
    margin:0;
    padding: 0 !important;
}

.container-fluid{
    padding: 0;
}

.app {
    margin: -70px;
    width: 100%;
    padding: 1.5em;
    background-color: #17222d;
  }
.logo{
  width: 200px;
  padding-left: 1.5rem !important;
}

.side{
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  height: 90vh !important;
}

.design{
  position: absolute;
  bottom: 5%;
  left:5%;
  width: 17em;
  /* right:auto; */
}

.input-movie{
  border-bottom-left-radius: 50px !important;
  border-top-left-radius: 50px !important;
}

.input-movie, .btn{
  border-radius: 50px;
}

.btn{
  width: 15%;
  background-color: #D67086;
}

.add{
  border-radius: 20%;
  width: 2.5rem;
}

.add::hover{
  color:#17222d;
}

i{
  cursor: pointer;
}

.icon{
  color:darkturquoise;
  text-align: center;
  font-size: 1.3rem;
  align-self: center;
}

.regular-icon{
  /* color:firebrick; */
  text-align: center;
  font-size: 1.2rem;
}

.caution-icon{
  color:firebrick;
  text-align: center;
  align-self: center;
}

.saved-movie{
  margin-top: 5px;
  margin-bottom: 5px;
}

.movie-image{
  padding: 0 4% 0 0 !important;
}

.movie-small-image{
  padding: 0 4% 0 0 !important;
  width: 4.5em;
}

.searching{
  display: block;
}

.hide{
  display: none;
}

.show{
  display: block;
}
/* .notificationbar{
  padding: 0.7rem 0;
} */

@media(max-width: 768px){
  .side{
    height: 100% !important;
  }

  .design{
    display: none;
  }

  .design2{
    position: absolute;
    bottom: -120%;
    left:25%;
    right:25%;
    width: 17rem;
    /* display:block; */
  }
}

@media(max-width: 400px){
  .side{
    height: 70% !important;
  }

  .design2{
    width: 60%;
    bottom: -80%;
    /* display:block; */
  }
}

